html, body {
	margin:0;
	padding:0;
}

body {
	background-color: #2e2e2e;
	font-family: Poppins;
	color: #fff;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Regular.otf);
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-SemiBold.otf);
	font-weight: 800;
}

#toolbar {
	padding: 0.5em 0.5em 0.75em 0.5em;
}

#messageArea {
}

#udpStatus {
	float: right;
	font-size: 75%;
	font-style: italic;
	padding-top: 0.5em;
}

#message {
	color: #fff;
	background-color: #aaa;
	padding-left: 0.75em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 20px;
	clear:both;
	font-family: monospace;
	font-size: 16px;
}

#bwSelector {
	background-color: #2e2e2e;
}
#currentTrack {
	height:100px;
	text-align: center;
	line-height: 100px;
	color:#fff;
	font-family: Poppins;
	font-weight: 800;
	font-size: 20px;
	border-bottom: 1px solid #2e2e2e;
}

#devices {
	margin-bottom: 10px;
}

#devices button {
	height: 95px;
	width:206px;
	border:none;
	border-bottom: 1px solid #2e2e2e;
	font-size: 17px;
	display:block;
	background-color: #fd7d28;
	text-align: center;
	color:#fff;
	border-right: 1px solid #2e2e2e;
}
#devices button.device {
	float:left;
	clear:left;
}

#devices button.deviceSlot {
	background-color: #426a7f;
	float:left;
	width:104px;
}

#devices button.deviceActive {
	background-image: linear-gradient(120deg, #fd7d28 2.63%, #444444 2.63%, #444444 50%, #fd7d28 50%, #fd7d28 52.63%, #444444 52.63%, #444444 100%);
	background-size: 21.94px 38.00px;
}

#devices button.slotActive {
	background-image: linear-gradient(120deg, #426a7f 2.63%, #444444 2.63%, #444444 50%, #426a7f 50%, #426a7f 52.63%, #444444 52.63%, #444444 100%);
	background-size: 21.94px 38.00px;
}

#devices button.slotDeviceActive {
	background-image: linear-gradient(120deg, #426a7f 2.63%, #444444 2.63%, #444444 50%, #426a7f 50%, #426a7f 52.63%, #444444 52.63%, #444444 100%);
	background-size: 21.94px 38.00px;
}



#devices button.deviceSlotDevice {
	float:left;
	background-color: #999;
}

#devices button:active {
	background-color: #000;
}

#devices button:nth-child(odd) {
/*	border-right: 1px solid #2e2e2e;*/
}

#butSend {
	font-family: monospace;
	font-size: 16px;
	padding:14px 10px;
	border:none;
	width:200px;
	margin: 0 auto;
	display:block;
	background-color: #ccc;
}
