html, body {
	margin:0;
	padding:0;
}

body {
	background-color: #2e2e2e;
	font-family: Poppins;
	color: #fff;
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/poppins/Poppins-Regular.otf);
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/poppins/Poppins-SemiBold.otf);
	font-weight: 800;
}

#toolbar {
	padding: 0.5em 0.5em 0.75em 0.5em;
}

#messageArea {
}

#udpStatus {
	float: right;
	font-size: 75%;
	font-style: italic;
	padding-top: 0.5em;
}

#message {
	color: #fff;
	background-color: #aaa;
	padding-left: 0.75em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 20px;
	clear:both;
	font-family: monospace;
	font-size: 16px;
}

#tracks button {
	width:6.25%;
	float:left;
	height:80px;
	display: block;
	border: none;
	border-right: 1px solid #2e2e2e;
	color:#fff;
	font-weight: 600;
	padding: 0 4px;
}

#tracks button:nth-child(16) {
	border-right: none;
}

#bwSelector {
	background-color: #2e2e2e;
	width:80%;
	clear:left;
}

#bwControls {
	position: fixed;
	bottom: 0;
	background-color: red;
	width: 100%;
	height:160px;
}

#bwControls button {
	height:80px;
	background-color: #ccc;
	width:20%;
	border:none;
	float:left;
	font-size: 18px;
	border-right: 1px solid #6e6e6e;
	border-bottom: 1px solid #6e6e6e;
}

#bwControls button:nth-child(5),
#bwControls button:nth-child(10) {
	border-right:none;
}
#bwControls button:nth-child(6),
#bwControls button:nth-child(7),
#bwControls button:nth-child(8),
#bwControls button:nth-child(9),
#bwControls button:nth-child(10) {
	border-bottom: none;
}

.bActive {
	background-image: linear-gradient(120deg, #426a7f 2.63%, #444444 2.63%, #444444 50%, #426a7f 50%, #426a7f 52.63%, #444444 52.63%, #444444 100%);
	background-size: 21.94px 38.00px;
	color:#fff;
}

#bwControls button#aPlay {
	background-color: #737373;
	fill:#141414;
}

#aPlay svg {
	fill:#fff;
	margin-top: 8px;
	height:24px;
}

#bwControls button#aPlay.bActive svg {
	fill:#141414;
}

#bwControls button#aPlay.bActive {
	background-color:#fd872b;
	background-image:none;
}

#bwRemoteControls {
	width:20%;
	float:right;
	height: 480px;
	overflow-y: scroll;
/*	position:absolute;
	width:100%;*/
}

#bwRemoteControls button {
	height:80px;
	background-color: #ccc;
	width:100%;
	border:none;
	font-size: 18px;
	border-bottom: 1px solid #6e6e6e;
}

#bwRemoteControls button.pageActive {
	background-image: linear-gradient(120deg, #fd7d28 2.63%, #444444 2.63%, #444444 50%, #fd7d28 50%, #fd7d28 52.63%, #444444 52.63%, #444444 100%);
	background-size: 21.94px 38.00px;
	color:#fff;
}

#currentTrack {
	height:79px;
	text-align: center;
	line-height: 80px;
	color:#fff;
	font-family: Poppins;
	font-weight: 800;
	font-size: 20px;
	border-bottom: 1px solid #2e2e2e;
	border-right: 1px solid #2e2e2e;
}

#devices {
	margin-bottom: 10px;
}

#devices button {
	height: 80px;
	width:25%;
	border:none;
	border-bottom: 1px solid #2e2e2e;
	font-size: 17px;
	display:block;
	background-color: #ccc;
	text-align: center;
	color:#2e2e2e;
	border-right: 1px solid #2e2e2e;
}

#devices button.instr {
	float:left;
	width:12.5%;
	opacity:0.4;
}

#devices button.instrActive {
	opacity:1;
}

#devices button.device {
	float:left;
	clear:left;
}

#devices button.deviceSlot {
	background-color: #426a7f;
	float:left;
	width:12.5%;
	color:#fff;
}

#devices button.deviceActive {
	background-image: linear-gradient(120deg, #fd7d28 2.63%, #444444 2.63%, #444444 50%, #fd7d28 50%, #fd7d28 52.63%, #444444 52.63%, #444444 100%);
	background-size: 21.94px 38.00px;
	color:#fff;
}

#devices button.slotActive {
	background-image: linear-gradient(120deg, #426a7f 2.63%, #444444 2.63%, #444444 50%, #426a7f 50%, #426a7f 52.63%, #444444 52.63%, #444444 100%);
	background-size: 21.94px 38.00px;
}

#devices button.slotDeviceActive {
	background-image: linear-gradient(120deg, #426a7f 2.63%, #444444 2.63%, #444444 50%, #426a7f 50%, #426a7f 52.63%, #444444 52.63%, #444444 100%);
	background-size: 21.94px 38.00px;
	color:#fff;
}

#devices button.deviceSlotDevice {
	float:left;
	background-color: #999;
}

#devices button:active {
	background-color: #000;
}

#devices button:nth-child(odd) {
/*	border-right: 1px solid #2e2e2e;*/
}

#butSend {
	font-family: monospace;
	font-size: 16px;
	padding:14px 10px;
	border:none;
	width:200px;
	margin: 0 auto;
	display:block;
	background-color: #ccc;
}
